apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: realboost-cluster
servers: 1
agents: 1
ports:
  - port: 8090:80
    nodeFilters:
      - loadbalancer
  - port: 8443:443
    nodeFilters:
      - loadbalancer
options:
  k3d:
    wait: true
    timeout: "60s"
  kubeconfig:
    updateDefaultKubeconfig: true
    switchCurrentContext: true
